name: Lesson 18 Testing Pipeline

on:
  push:
    paths:
      - 'lesson18/**'

jobs:
  test-suite:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./lesson18

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Run Unit Tests
        run: npm test
